.title {
	font-size: 1.8em;
	font-weight: bold;
	text-align:center
}

a {
	color: #000033;
	text-decoration:none
}

.footer, .cv-small {
	font-size: 11px;
	color: #333333;
}

.cv-table {
	padding: 8px;
	text-align: center;
}

.cv-table td {
	border-width: thin;
	border-color: gray;
	border-style: solid;
}

table.docutils {
	border-width: 0px;
	border-spacing: 2px;
}
table.docutils th {
	border-width: 0px;
	padding: 3px;
}

table.docutils td {
	padding: 3px;
	}

.print-only {
    display: none;
}

@media print {
    .cv-small {
        font-size: 8px;
    }
}
