body {
	background: #cfcfcf;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px 20% 0% 20%;
	min-width: 100px;
	height: 100%;
	padding: 0px 0px 0px 0px;
	font-family: sans-serif;
}

h1, h2, h3 {
	font-weight: normal;
	color: #52483E;
}

h1, .title {
	font-size: 1.8em;
	font-weight: bold;
}

.title {
    text-align:center
}

h2 {
	font-size: 1.4em;
	font-weight: bold;
}

h3 {
	font-size: 1.4em;
}

#content {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border-width: medium;
	border-style: none;
	border-collapse: separate;
}

#main_block {
	width: 100%;
	padding: 30px 0px 0px 0px;
	line-height: 150%;
}

#logo {
	float: left;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
}

#mainmenu {
	width: 100%;
	height: 63px;
	padding: 0px 0px 0px 0px;
	background: url('background.png') repeat-x left top;
}

#mainmenu ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}

#mainmenu a {
	display: block;
	height: 26px;
	margin-right: 2px;
	margin-bottom: 10px;
	padding: 10px 20px 0px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#mainmenu a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

#mainmenu a {
	color: #FFFFFF;
}

#footer {
	font-size: 10px;
	margin: 30px 0px 0px 0px;
}

#footer a {
	color: #FFFFFF;
}

a {
	color: #48665B;
}

.cv-small {
	font-size: 10px;
}

.cv-table {
	padding: 8px;
	text-align: center;
}

.cv-table td {
	border-width: thin;
	border-color: gray;
	border-style: solid;
}

table.docutils {
	border-width: 0px;
	border-spacing: 2px;
}

table.docutils th {
	border-width: 0px;
	padding: 3px;
}

table.docutils td {
	padding: 3px;
}

@media print {
    @page {
        margin: 0.5cm;
    }

    body {
        width: 100%;
        background: none;
       	margin: 0; padding: 0;
        color: black;
        font-size: 12px;
        line-height: 1.0;
    }

    .footer, .cv-small {
        font-size: 8px;
    }

    .screen-only {
        display: none;
    }

    .print-only {
        display: block;
    }

    a {
        color: #000000;
    }

    hr {
        display: none;
    }
}
